name: Docker build & test

on:
  push:
  pull_request:

jobs:
    build-test:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            build_type: [debug, release]
          fail-fast: false

        container:
            image: ghcr.io/userver-framework/ubuntu-22.04-userver-pg-dev:latest
            options: >
                --cap-add=SYS_PTRACE
                --security-opt seccomp=unconfined

        steps:
          - uses: actions/checkout@v4
            with:
              submodules: true

          - name: Cache CPM dependencies
            uses: actions/cache@v4
            with:
              path: build-${{ matrix.build_type }}/_deps
              key: ${{ runner.os }}-cpm-${{ matrix.build_type }}
              restore-keys: |
                ${{ runner.os }}-cpm-${{ matrix.build_type }}-
              
          - name: Fix permissions
            run: sudo chown -R user:user .
        
          - name: Configure
            run: sudo -u user make cmake-${{ matrix.build_type }}

          - name: Build
            run: sudo -u user cmake --build build-${{ matrix.build_type }} -j $(nproc)

          - name: Run tests
            run: sudo -u user make test-${{ matrix.build_type }}